/.DS_Store
/.env
/.env.*
/.idea
/.vscode

/api/.bundle
/api/.rspec_status
/api/db/*.sqlite3
/api/db/*.sqlite3-*
/api/log/*
/api/tmp/*
/api/storage/*
/api/vendor/bundle
/api/node_modules
!/api/log/.keep
!/api/tmp/.keep
!/api/tmp/pids/.keep
!/api/tmp/storage/.keep
!/api/storage/.keep

/web/.next
/web/node_modules
/web/coverage
/web/test-results
/web/playwright-report

/coverage
